@charset  "UTF-8";


*{
    font-family: sans-serif;
    color: rgb(117, 53, 117);
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(215, 230, 240);
    font-size: 1em;
   

}
header{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
main{
    
    margin-left: 35%;
    padding: 15px;
}
.grupo{
    
    border: 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 2px;
    
    
}
input, select, button, textarea{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    display: block;
}
/* #sobrenome{
    border-radius: 5px;
}
#nome{
    border-radius: 5px;
} */
.sexo{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    margin-bottom: 1em;
    
}
.campo input [type="text"], .campo input[type="email"] .campo select , .campo textarea{
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;
    
}
.campo-um{
    margin-bottom: 2em;
}

.campo input[type="text"]:focus , .campo input[type="email"]:focus , .campo select:focus , .campo textarea:focus{
    background: #E0E0F8;
}

button{
    background-color: rgb(170, 119, 218);
    color: white;
}
button:hover{
    background-color: rgb(214, 201, 226);
}